<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ACPI</key>
      <dict>
        <key>DropDMAR</key>
          <false/>
        <key>DropOemSSDT</key>
          <false/>
        <key>DropTables</key>
          <array>
            <dict>
              <key>Signature</key>
                <string>SSDT</string>
              <key>TableId</key>
                <string>GBTUACPI</string>
            </dict>
          </array>
        <key>FixRegions</key>
          <false/>
        <key>PMProfile</key>
          <integer>0</integer>
        <key>Patches</key>
          <array>
            <dict>
              <key>Find</key>
                <data>/////w==</data>
              <key>Replace</key>
                <data>AAAAAAA=</data>
            </dict>
          </array>
        <key>ResetAddress</key>
          <integer>0</integer>
        <key>ResetValue</key>
          <integer>0</integer>
        <key>SavePatchedDsdt</key>
          <false/>
      </dict>
    <key>CPU</key>
      <dict>
        <key>CPUFamily</key>
          <integer>0</integer>
        <key>CPUFrequency</key>
          <integer>0</integer>
        <key>CPUIdVars</key>
          <integer>0</integer>
        <key>FSBFrequency</key>
          <integer>0</integer>
        <key>PatchCPU</key>
          <false/>
        <key>PatchLAPIC</key>
          <false/>
        <key>PatchPM</key>
          <false/>
        <key>ProcessorType</key>
          <integer>0</integer>
        <key>QPI</key>
          <integer>0</integer>
        <key>Turbo</key>
          <false/>
      </dict>
    <key>Graphics</key>
      <dict>
        <key>CustomEDID</key>
          <data></data>
        <key>DisplayCfg</key>
          <string>0301000003010001</string>
        <key>DualLink</key>
          <integer>0</integer>
        <key>FBName</key>
          <string></string>
        <key>GraphicsInjector</key>
          <false/>
        <key>LoadVBios</key>
          <false/>
        <key>NVCAP</key>
          <string>04000000000003001C0000000000000A00000000 </string>
        <key>VideoPorts</key>
          <integer>0</integer>
        <key>VRAM</key>
          <integer>0</integer>
      </dict>
    <key>KernelPatches</key>
      <array>
        <dict>
          <key>Find</key>
            <data></data>
          <key>Replace</key>
            <data></data>
        </dict>
      </array>
    <key>KextPatches</key>
      <array>
        <dict>
          <key>Find</key>
            <string></string>
          <key>InfoPlistPatch</key>
            <true/>
          <key>Name</key>
            <string></string>
          <key>Replace</key>
            <string></string>
        </dict>
        <dict>
          <key>Find</key>
            <data></data>
          <key>InfoPlistPatch</key>
            <false/>
          <key>Name</key>
            <string></string>
          <key>Replace</key>
            <data></data>
        </dict>
      </array>
    <key>PCI</key>
      <dict>
        <key>DeviceProperties</key>
          <string></string>
        <key>ETHInjection</key>
          <false/>
        <key>HDAInjection</key>
          <integer>0</integer>
        <key>PCIRootUID</key>
          <integer>65535</integer>
        <key>USBInjection</key>
          <false/>
      </dict>
    <key>SMBIOS</key>
      <dict>
        <key>BiosReleaseDate</key>
          <string>05/03/10</string>
        <key>BiosVendor</key>
          <string>Apple Inc.</string>
        <key>BiosVersion</key>
          <string>IM91.88Z.0034.B00.0890301712</string>
        <key>Board-ID</key>
          <string>Mac-F4238CC8</string>
        <key>BoardManufacturer</key>
          <string>Apple Inc.</string>
        <key>BoardSerialNumber</key>
          <string>X34520729469AY6EN</string>
        <key>BoardVersion</key>
          <string>1.1</string>
        <key>ChassisAssetTag</key>
          <string>HP xw4600</string>
        <key>ChassisManufacturer</key>
          <string>Apple Inc.</string>
        <key>Family</key>
          <string>iMac</string>
        <key>LocationInChassis</key>
          <string>Part Component</string>
        <key>Manufacturer</key>
          <string>Apple Inc.</string>
        <key>MemoryDevices</key>
          <array>
            <dict>
              <key>BankLocator</key>
                <string>BANK0</string>
              <key>DeviceLocator</key>
                <string>DIMM0</string>
              <key>Manufacturer</key>
                <string>Samsung</string>
              <key>MemoryType</key>
                <integer>2</integer>
              <key>PartNumber</key>
                <string>PN</string>
              <key>SerialNumber</key>
                <string>SN1</string>
              <key>Size</key>
                <integer>65535</integer>
              <key>Slot</key>
                <integer>255</integer>
              <key>Speed</key>
                <integer>0</integer>
            </dict>
          </array>
        <key>Mobile</key>
          <false/>
        <key>SPDScan</key>
          <false/>
        <key>ProductName</key>
          <string>iMac9,1</string>
        <key>SerialNumber</key>
          <string>X34520AY6EN</string>
        <key>Version</key>
          <string>1.1</string>
      </dict>
    <key>SystemParameters</key>
      <dict>
        <key>boot-args</key>
          <string>debug=0x108</string>
        <key>CheckFakeSMC</key>
          <true/>
        <key>CsrActiveConfig</key>
          <integer>0x00000000</integer>
        <key>DefaultBootVolume</key>
          <string>Mountain Lion</string>
        <key>LoadExtraKexts</key>
          <true/>
        <key>MLB</key>
          <string></string>
        <key>NvRam</key>
          <false/>
        <key>PlatformUUID</key>
          <string>0D2AE8C8-B6AA-5A79-B51A-15F9B0709EA1</string>
        <key>prev-lang</key>
          <string>ru:0</string>
        <key>#ROM</key>
          <data></data>
        <key>ROM</key>
          <string></string>
        <key>SaveVideoRom</key>
          <false/>
        <key>ScreenMode</key>
          <integer>65535</integer>
        <key>SystemID</key>
          <string>d57d6f5a-8f6d-384d-81af-a8f75082b7ec</string>
        <key>Timeout</key>
          <integer>0</integer>
        <key>YoBlack</key>
          <false/>
      </dict>
  </dict>
</plist>
